@model DriverIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Drivers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DriverID">View</a> |
                    <a asp-action="Edit" asp-route-id="@item.DriverID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.DriverID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
