@model CarIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Manufacturer
            </th>
            <th>
                MOT
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOT)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CarID">View</a> |
                <a asp-action="Edit" asp-route-id="@item.CarID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CarID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
